* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    overflow: hidden;
}

header > h1 {
    text-align: center;
    font-size: 175%;
    margin: 2rem;
}

.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 25px;
}

.container {
    display: flex;
    flex-direction: column;
}

section {
    border: 1px solid black;
    padding: 2.5rem 10px 10px 10px;
    background-color: rgb(224, 221, 173);
    margin: 10px;
    position: relative;
}

.title {
    position: absolute;
    right: -1px;
    top: -1px;
    border: 1px solid black;
    padding: .1rem 2rem;
    font-size: 125%;
    font-weight: bold;
}

#chicken {
    background-color: #0099aa;
}

#beef {
    background-color: #a21f18;
    color: white;
}

#sushi {
    background-color: #efef96;
}

@media (min-width: 768px) {

.container {
    flex-direction: row;
}

section {
    width: 100%;
}

}

@media (min-width: 992px) {

.main-container {
    flex-direction: row;
}

}